.section {
  margin-bottom: 32px;
}

.section:last-child {
  margin-bottom: 0;
}

.sectionTitle {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 12px;
  color: light-dark(#666, #999);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.sectionContentColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sectionContentRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}
